:root {
    --cor1: #010001;
    --cor2: #2B0504;
    --cor3: #67697C;
    --cor4: #D16014;
    --cor5: #DDF2EB;
}

@font-face {
    font-family: 'Heartless';
    font-weight: 1000;

    src: url(../fonts/Heartless.woff,);
    src: url(../fonts/Heartless.woff2);
}

body {
    background-color: rgba(1, 0, 1, 0.800);
    background-image:linear-gradient(  var(--cor1) 1% , var(--cor3) );
    
}

/* Header */

header {
    background-color: rgba(1, 0, 1, 0.500);
    height: 10em;
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-content: center;

}

header h1 {
    font-family: 'Heartless', sans-serif;
    font-size: 7em;
    color: var(--cor5);
    text-shadow: var(--cor3) 0 5px 30px;
    padding: 0px 30px;
}

#nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.botoes {
    width: 100%;
    height: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.top_termos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--cor3);
    border-radius: 20px;
    border: solid var(--cor3) 2px;
    width: 70%;
    height: 2em;
    font-size: 0.8em;
}

.termos-baixo {
    height: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    
    font-size: 0.9em;
}

button {
    width: 8em;
    background-color: transparent;
    border: solid 1px var(--cor5);
    border-radius: 20px;
    color: var(--cor5);
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    box-shadow: var(--cor1) 0px 5px 10px;
    transition: 0.5s;
}

button:hover {
    background-color: transparent;
    box-shadow: var(--cor3) 0px 5px 20px;
    transform: scale(1.1);
    border: solid 1px var(--cor4);
}

header ul {
    color: var(--cor3);
}

.img_frete {
    width: 1.8em;
    height: 0.9em;
}

.img_parcelamento {
    width: 1.7em;
    height: 0.9em;
}

.img_site_seguro {
    width: 1.2em;
    height: 1.3em;
}

/* Aside*/
aside {
    background-color: rgba(1, 0, 1, 0.500);
    height: 750px;
    display: flex;
    justify-content: center;
    
}
aside img{
    width: 100%;
    height: 100%;
    
}

/* Main */
main {
    height: 750px;
    display: grid;
    grid-template-rows: 2fr 6fr;

}

main img {
    border: solid;
    border-color: rgb(0, 0, 0);
}

#novidades {
    background-color: var(--cor3);
    display: flex;
    align-items: end;
    justify-content: center;
}

#novidades h1 {
    text-align: center;
    font-family: 'Heartless', sans-serif;
    font-size: 5em;
    color: rgb(255, 255, 255);
    text-shadow: rgb(177, 77, 0) 0 10px 60px;

}

#cards {
    background-color: var(--cor1);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    width: 250px;
    height: 350px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6500);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.10);
    box-shadow: rgb(177, 77, 0) 0px 0px 10px;

}

hr {
    background-color: rgba(43, 5, 4, 0.500);
    height: 1.5em;
    border: none;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgba(1, 0, 1, 0.500);
    font-size: 1.3em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

footer img{
    width: 2em;
    transition: 0.5s;
}

footer img:hover{
    width: 2em;
    transform: scale(1.1);
}